<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="JobAgentFactoryType" value="BatchJobs.Console.DebugerJobAgentFactory, BatchJobs.Console"/>
    <add key="BatchLogFileToEmail" value="ajepst@gmail.com"/>
    <add key="BatchLogFileFromEmail" value="anne@headspring.com"/>
    <add key="BatchLogFileSmtpHost" value="localhost"/>
		<add key="BatchLogFileLocation" value="BatchJobs.Console\bin\Debug\Log\BatchRun.log" />
  </appSettings>
</configuration>