<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="DeployerSettings" type="Tarantino.Deployer.Core.Services.Configuration.Impl.DeployerSettingsConfigurationHandler, Tarantino.Deployer.Core"/>
	</configSections>

	<DeployerSettings>
		<Applications>

			<Application Name="SampleApp" ZipFile="SampleAppPackage" Url="https://wush.net/svn/SampleApp/trunk/LatestVersion" Username="myUser" Password="myPassword">
				<Environments>
					<Environment Name="Dev" />
					<Environment Name="QA" Predecessor="Dev" />
				</Environments>
			</Application>

		</Applications>
	</DeployerSettings>

</configuration>