<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ScriptFolder" value="."/>
		<add key="Server" value="."/>
		<add key="Database" value="MyDatabase"/>
		<add key="Username" value="sa"/>
		<add key="Password" value="pwd"/>
		<add key="IntegratedSecurity" value="true"/>
		<add key="NAntFolder" value="..\..\..\..\lib\NAnt"/>
	</appSettings>
	<startup/></configuration>
