<tr onMouseOver="className='over';" onMouseOut="className='out';">
    <td>||MACHINE_NAME||</td>
    <td class='||LOAD_BALANCE_STATUS||' ><a class='||LOAD_BALANCE_STATUS||' href='?id=||INSTANCE_ID||&a=AvailableForLoadBalance&value=||NEW_LOAD_BALANCE_STATUS||'>||LOAD_BALANCE_STATUS||</a></td>
    <td>||VERSION||</td>
    <td><a target='_blank' href='http://||HOST_HEADER||'>||HOST_HEADER||</a></td>
    <td>&nbsp;<a title="Refresh Cache" href="?a=Cache&id=||INSTANCE_ID||&value=true">Refresh</a>&nbsp;</td>
    <td>&nbsp;<a href="||APPLICATION_EDIT_URL||?id=||INSTANCE_ID||">Edit</a>&nbsp;</td>
    <td>&nbsp;<a href="?a=Delete&id=||INSTANCE_ID||&value=true">Delete</a>&nbsp;</td>
</tr>
