<tr onMouseOver="className='over';" onMouseOut="className='out';">
    <td rowspan='||INSTANCE_COUNT||' class='out'><a target='_blank' href='http://||MAINTANANCE_HOST_HEADER||'>||MAINTANANCE_HOST_HEADER||</a></td>
    <td rowspan='||INSTANCE_COUNT||' class='||MAINTANANCE_STATUS||'><a class='||MAINTANANCE_STATUS||' href='?id=||INSTANCE_ID||&a=DownForMaintenance&value=||NEW_MAINTANANCE_STATUS||'>||MAINTANANCE_STATUS||</a></td>
    <td>||MACHINE_NAME||</td>
    <td class='||LOAD_BALANCE_STATUS||' ><a class='||LOAD_BALANCE_STATUS||' href='?id=||INSTANCE_ID||&a=AvailableForLoadBalance&value=||NEW_LOAD_BALANCE_STATUS||'>||LOAD_BALANCE_STATUS||</a></td>
    <td>||VERSION||</td>
    <td><a target='_blank' href='http://||HOST_HEADER||'>||HOST_HEADER||</a></td>
</tr>
